.chip-panel {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
}
.chip-panel__block {
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5em;
  padding: 10px;
  color: #fff;
  background: linear-gradient(to right, #b24592, #f15f79);
}
