.vingo-header__icon {
  width: 45px;
  margin: 10px 0 10px 10px;
  padding-top: 20px;
}

.vingo-header__name {
  font-family: 'HelveticaNeueCyr';
  font-weight: 800;
  font-size: 1.6em;
  color: #222;
  line-height: 72px;
}
