#chip-cards-top, #chip-cards-bottom {
  width: 100vw;
  position: fixed;
  padding: 10px;
  box-sizing: border-box;
  left: 0;
  z-index: 10000;
}
#chip-cards-top {
  top: 0;
}
#chip-cards-bottom {
  bottom: 0;
  display: flex;
  flex-direction: column-reverse;
}

.chip-card {
  width: 100%;
  position: relative;
  z-index: 1000;
  transition: all 1s;
}

#chip-cards-top .chip-card {
  margin-bottom: 10px;
}

#chip-cards-bottom .chip-card {
  margin-top: 10px;
}
