.chip-card__mini {
  background: rgba(255, 255, 255, 0.9);
  color: #333;
  line-height: 1.5em;
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 9px;
  font-family: 'HelveticaNeueCyr';
  font-weight: bold;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .1);
}
