:root {
  --background_page: #fff;
  --header_background: #fff;
}

.label {
  font-family: 'HelveticaNeueCyr';
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 800;
  margin-top: 20px;
  margin-left: 15px;
  line-height: 19px;
  color: #222;
}
