:root {
  --main-color: #20263c;
  --accent-color: #ff4488;
  --white-color: #fff;
  --text-color: #333333;
  --second-text-color: #717171;
  --text-font: 'HelveticaNeueCyr';
  --background_page: var(--main-color);
  --header_alternate_background: var(--main-color);
  --tabbar_inactive_icon: var(--white-color);
  --tabbar_active_icon: var(--accent-color);
}

.Tabbar {
  border-radius: 50px 50px 0 0;
}