:root {
  --main-color: #20263c;
  --accent-color: #ff4488;
  --white-color: #fff;
  --text-color: #333333;
  --second-text-color: #717171;
  --text-font: 'HelveticaNeueCyr';
  --background_page: var(--main-color);
}
